name: Publish RC for Pull Request

on: 
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: write
  pull-requests: write
    
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Check if changeset is in prerelease mode
        id: check-in-pre
        run: echo "pre=$(test -r .changeset/pre.json; echo $?)"  >> "$GITHUB_OUTPUT"
      - name: Get package scope to be released
        id: get-scope
        run: node -e "console.log('scope=' + require('./package/package.json').name.split('/')[0])" >> "$GITHUB_OUTPUT"
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
          registry-url: 'https://registry.npmjs.org'
          token: ${{ secrets.GITHUB_TOKEN }}
          # Defaults to the user or organization that owns the workflow file
          scope: ${{ steps.get-scope.scope.version }}
      - name: Publish npm package
        if: ${{ steps.check-in-pre.outputs.pre == 0 }}
        run: |
          cd package
          echo npmAuthToken: "$NODE_AUTH_TOKEN" >> ./.yarnrc.yml
          yarn install
          yarn build
          yarn npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}